## Project Detail
- Data wrangling, which consists of:
    - Gathering data
    - Assessing data
    - Cleaning data
- Storing, analyzing, and visualizing our wrangled data
- Reporting on 1) our data wrangling efforts and 2) our data analyses and visualizations

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import os
import re

## Gather Data

### Twitter Archive

In [2]:
# Read a csv file as a Pandas DataFrame
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Image Predictions

In [4]:
# Download image_predictions.tsv file from Udacity server
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

In [5]:
with open ('image_predictions.tsv' ,'wb') as file:
    file.write(response.content)
image_predictions = pd.read_csv('image_predictions.tsv', sep='\t')

In [6]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [7]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

 ### Tweets

In [8]:
# Keep only certain elements in dataframe
elements_to_keep = ['id', 'favorite_count', 'retweet_count']
data = []

with open('tweet_json.txt', 'r') as file: 
    # Read the line from JSON.txt and convert it into dataframe
    tweet_json = file.readline()
    
    while tweet_json:
        tweet_dict = json.loads(tweet_json)
        # Create a smaller dict
        data_row = dict((element, tweet_dict[element]) for element in elements_to_keep)
        data.append(data_row)
        
        # Read the next line
        tweet_json = file.readline()
            
df_tweet= pd.DataFrame.from_dict(data)

In [9]:
df_tweet.head()

   favorite_count                  id  retweet_count
0           39467  892420643555336193           8853
1           33819  892177421306343426           6514
2           25461  891815181378084864           4328
3           42908  891689557279858688           8964
4           41048  891327558926688256           9774

In [10]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
favorite_count    2354 non-null int64
id                2354 non-null int64
retweet_count     2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

## Assess Data

In [11]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [12]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [14]:
twitter_archive.name.value_counts()

None        745
a            55
Charlie      12
Cooper       11
Oliver       11
Lucy         11
Tucker       10
Penny        10
Lola         10
Bo            9
Winston       9
the           8
Sadie         8
Toby          7
an            7
Buddy         7
Daisy         7
Bailey        7
Rusty         6
Dave          6
Koda          6
Scout         6
Jax           6
Leo           6
Jack          6
Stanley       6
Oscar         6
Bella         6
Milo          6
Sammy         5
           ...
Snickers      1
Anthony       1
Maya          1
Travis        1
Erik          1
Ginger        1
Danny         1
Ike           1
Storkson      1
Eevee         1
Monster       1
Coleman       1
Jordy         1
Chesney       1
Willie        1
Ashleigh      1
Sweet         1
Ralphy        1
Mollie        1
Gin           1
Kayla         1
Comet         1
Amy           1
Miley         1
Finnegus      1
Lassie        1
Howie         1
General       1
Bode          1
Carter        1
Name: name, Length: 957, dtype: int64

In [15]:
twitter_archive.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [16]:
twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [17]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [18]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [19]:
df_tweet.head()

   favorite_count                  id  retweet_count
0           39467  892420643555336193           8853
1           33819  892177421306343426           6514
2           25461  891815181378084864           4328
3           42908  891689557279858688           8964
4           41048  891327558926688256           9774

In [20]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
favorite_count    2354 non-null int64
id                2354 non-null int64
retweet_count     2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

## Quality Issues
### twitter_archive
- Wrong data type: **timestamp** and **retweeted_status_timestamp** should be datetime instead of object.
- Wrong data type: **in_reply_to_status_id** ,**in_reply_to_user_id**, **retweeted_status_id**, and **retweeted_status_user_id** should be string instead of float64.
- Retweets: Some entries are retweets. We only want to keep the original.
- Name: In **name** column, many entries do not look like names.
- Rating: The **numerator** and **denominator** columns have strange values.
- Remove columns which are not required for the analysis and store the dataframe to twitter_archive_master.csv

### image_predictions
- Inconsistent capitalization: Some of the first letter in p1/p2/p3 are capital.
- Missing values: 2075 rows instead of 2356

### df_tweet
- Rename **id** column to **tweet_id** to be consistent with **twitter_archive** and **image_predictions**

## Tidiness Issues
- Join **image_predictions** and **df_tweet** to **twitter_archive**.
- **twitter_archive**: one variable in four columns (doggo, floofer, pupper, puppo).

## Clean Data

In [21]:
# Copy dataframes
df_clean_twitter_archive = twitter_archive.copy()
df_clean_image_predictions = image_predictions.copy()
df_clean_tweet = df_tweet.copy()

#### Rename **id** column to **tweet_id** to be consistent with **twitter_archive** and **image_predictions**

In [22]:
df_clean_tweet.rename(columns={'id' : 'tweet_id'}, inplace=True)
df_clean_tweet.columns

Index(['favorite_count', 'tweet_id', 'retweet_count'], dtype='object')

#### Join **image_predictions** and **df_tweet** to **twitter_archive**.

In [23]:
df_clean_twitter_archive = pd.merge(df_clean_twitter_archive, df_clean_image_predictions, on='tweet_id', how='inner')
df_clean_twitter_archive = pd.merge(df_clean_twitter_archive, df_clean_tweet, on='tweet_id', how='inner')
df_clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073 entries, 0 to 2072
Data columns (total 30 columns):
tweet_id                      2073 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2073 non-null object
source                        2073 non-null object
text                          2073 non-null object
retweeted_status_id           79 non-null float64
retweeted_status_user_id      79 non-null float64
retweeted_status_timestamp    79 non-null object
expanded_urls                 2073 non-null object
rating_numerator              2073 non-null int64
rating_denominator            2073 non-null int64
name                          2073 non-null object
doggo                         2073 non-null object
floofer                       2073 non-null object
pupper                        2073 non-null object
puppo                         2073 non-null object
jpg_url                       2073 non-null object
img_num                       2073 non-null int64
p1                            2073 non-null object
p1_conf                       2073 non-null float64
p1_dog                        2073 non-null bool
p2                            2073 non-null object
p2_conf                       2073 non-null float64
p2_dog                        2073 non-null bool
p3                            2073 non-null object
p3_conf                       2073 non-null float64
p3_dog                        2073 non-null bool
favorite_count                2073 non-null int64
retweet_count                 2073 non-null int64
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 459.5+ KB

#### Retweets: Some entries are retweets. We only want to keep the original.

In [24]:
# Identify retweets
df_clean_twitter_archive[df_clean_twitter_archive['retweeted_status_id'].notnull() == True ]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,favorite_count,retweet_count
32,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,...,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True,0,19297
67,877611172832227328,NaN,NaN,2017-06-21 19:36:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @rachel2195: @dog_rates the boyfriend and h...,8.768508e+17,5.128045e+08,2017-06-19 17:14:49 +0000,https://twitter.com/rachel2195/status/87685077...,...,0.364729,True,golden_retriever,0.202907,True,Irish_terrier,0.107473,True,0,83
81,873697596434513921,NaN,NaN,2017-06-11 00:25:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Walter. He won't start ...,8.688804e+17,4.196984e+09,2017-05-28 17:23:24 +0000,https://twitter.com/dog_rates/status/868880397...,...,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False,0,12518
109,867072653475098625,NaN,NaN,2017-05-23 17:40:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @rachaeleasler: these @dog_rates hats are 1...,8.650134e+17,7.874618e+17,2017-05-18 01:17:25 +0000,https://twitter.com/rachaeleasler/status/86501...,...,0.352946,True,papillon,0.211766,True,Pekinese,0.112952,True,0,135
129,861769973181624320,NaN,NaN,2017-05-09 02:29:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: ""Good afternoon class today we'...",8.066291e+17,4.196984e+09,2016-12-07 22:38:52 +0000,https://twitter.com/dog_rates/status/806629075...,...,0.366248,False,house_finch,0.209852,False,cocker_spaniel,0.046403,True,0,37911
133,860924035999428608,NaN,NaN,2017-05-06 18:27:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @tallylott: h*ckin adorable promposal. 13/1...,8.609145e+17,3.638908e+08,2017-05-06 17:49:42 +0000,https://twitter.com/tallylott/status/860914485...,...,0.933016,False,oscilloscope,0.012591,False,paper_towel,0.011178,False,0,882
170,851953902622658560,NaN,NaN,2017-04-12 00:23:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Astrid. She's a guide d...,8.293743e+17,4.196984e+09,2017-02-08 17:00:26 +0000,https://twitter.com/dog_rates/status/829374341...,...,0.757547,True,American_Staffordshire_terrier,0.149950,True,Chesapeake_Bay_retriever,0.047523,True,0,10706
171,851861385021730816,NaN,NaN,2017-04-11 18:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @eddie_coe98: Thanks @dog_rates completed m...,8.482894e+17,3.410211e+08,2017-04-01 21:42:03 +0000,https://twitter.com/eddie_coe98/status/8482893...,...,0.662183,False,purse,0.066505,False,pillow,0.044725,False,0,23
186,847971574464610304,NaN,NaN,2017-04-01 00:39:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @basic_vacek_: I love my new mug easy 13/10...,8.479710e+17,5.970642e+08,2017-04-01 00:36:55 +0000,https://twitter.com/basic_vacek_/status/847971...,...,0.633652,False,cup,0.273392,False,toilet_tissue,0.066656,False,0,482
209,842892208864923648,NaN,NaN,2017-03-18 00:15:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Stephan. He just wants ...,8.071068e+17,4.196984e+09,2016-12-09 06:17:20 +0000,https://twitter.com/dog_rates/status/807106840...,...,0.505370,True,Pomeranian,0.120358,True,toy_terrier,0.077008,True,0,56625
215,841833993020538882,NaN,NaN,2017-03-15 02:10:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Ken. His cheeks are mag...,8.174239e+17,4.196984e+09,2017-01-06 17:33:29 +0000,https://twitter.com/dog_rates/status/817423860...,...,0.336200,False,Samoyed,0.201358,True,Eskimo_dog,0.186789,True,0,17504
226,839290600511926273,NaN,NaN,2017-03-08 01:44:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @alexmartindawg: THE DRINK IS DR. PUPPER 10...,8.392899e+17,4.119842e+07,2017-03-08 01:41:24 +0000,https://twitter.com/alexmartindawg/status/8392...,...,0.670892,False,monitor,0.101565,False,screen,0.075306,False,0,158
229,838916489579200512,NaN,NaN,2017-03-07 00:57:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @KibaDva: I collected all the good dogs!! 1...,8.389060e+17,8.117408e+08,2017-03-07 00:15:46 +0000,https://twitter.com/KibaDva/status/83890598062...,...,0.993651,False,monitor,0.001406,False,envelope,0.001093,False,0,38
238,837012587749474308,NaN,NaN,2017-03-01 18:52:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @KennyFromDaBlok: 14/10 h*ckin good hats. w...,8.370113e+17,7.266347e+08,2017-03-01 18:47:10 +0000,https://twitter.com/KennyFromDaBlok/status/837...,...,0.186387,False,cowboy_hat,0.158555,False,sombrero,0.149470,False,0,88
263,832769181346996225,NaN,NaN,2017-02-18 01:50:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @EmilieGambril: 12/10 h*cking excited about...,8.327664e+17,4.871977e+08,2017-02-18 01:39:12 +0000,https://twitter.com/EmilieGambril/status/83276...,...,0.895698,False,sweatshirt,0.089085,False,poncho,0.002975,False,0,43
269,832215726631055365,NaN,NaN,2017-02-16 13:11:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Moreton. He's the Good ...,7.932865e+17,4.196984e+09,2016-11-01 03:00:09 +0000,https://twitter.com/dog_rates/status/793286476...,...,0.274637,True,borzoi,0.142204,True,doormat,0.109677,False,0,10723
270,832040443403784192,NaN,NaN,2017-02-16 01:34:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Klein. These pics were ...,7.699404e+17,4.196984e+09,2016-08-28 16:51:16 +0000,https://twitter.com/dog_rates/status/769940425...,...,0.796313,True,Chihuahua,0.155413,True,Staffordshire_bullterrier,0.030943,True,0,11131
284,829878982036299777,NaN,NaN,2017-02-10 02:25:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Loki. He smiles like El...,8.269587e+17,4.196984e+09,2017-02-02 01:01:21 +0000,https://twitter.com/dog_rates/status/826958653...,...,0.617389,True,Labrador_retriever,0.337053,True,tennis_ball,0.008554,False,0,5757
318,824796380199809024,NaN,NaN,2017-01-27 01:49:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bailey. She loves going...,7.950767e+17,4.196984e+09,2016-11-06 01:33:58 +0000,https://twitter.com/dog_rates/status/795076730...,...,0.676439,False,harvester,0.049995,False,swing,0.044660,False,0,6288
327,823269594223824897,NaN,NaN,2017-01-22 20:42:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: We only rate dogs. Please don't...,8.222448e+17,4.196984e+09,2017-01-20 00:50:15 +0000,https://twitter.com/dog_rates/status/822244816...,...,0.585441,True,Pomeranian,0.193654,True,Arctic_fox,0.071648,False,0,11421
331,822647212903690241,NaN,NaN,2017-01-21 03:29:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Paisley. She really wan...,8.224891e+17,4.196984e+09,2017-01-20 17:00:46 +0000,https://twitter.com/dog_rates/status/822489057...,...,0.416769,True,malamute,0.252706,True,kuvasz,0.157028,True,0,7390
337,821813639212650496,NaN,NaN,2017-01-18 20:16:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Hercules. He can have what...,7.806013e+17,4.196984e+09,2016-09-27 02:53:48 +0000,https://twitter.com/dog_rates/status/780601303...,...,0.995143,True,Cardigan,0.003044,True,English_springer,0.001050,True,0,3839
346,820446719150292993,NaN,NaN,2017-01-15 01:45:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Peaches. She's the ulti...,8.001414e+17,4.196984e+09,2016-11-20 00:59:15 +0000,https://twitter.com/dog_rates/status/800141422...,...,0.938048,True,kuvasz,0.025119,True,Labrador_retriever,0.022977,True,0,2980
355,819015337530290176,NaN,NaN,2017-01-11 02:57:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo. He was a very good ...,8.190048e+17,4.196984e+09,2017-01-11 02:15:36 +0000,https://twitter.com/dog_rates/status/819004803...,...,0.351308,True,toy_poodle,0.271929,True,Tibetan_terrier,0.094759,True,0,42228
356,819015331746349057,NaN,NaN,2017-01-11 02:57:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Sunny. She was also a v...,8.190064e+17,4.196984e+09,2017-01-11 02:21:57 +0000,https://twitter.com/dog_rates/status/819006400...,...,0.907083,False,palace,0.020089,False,umbrella,0.007850,False,0,21794
361,818588835076603904,NaN,NaN,2017-01-09 22:42:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Chelsea. She forgot how...,7.735476e+17,4.196984e+09,2016-09-07 15:44:53 +0000,https://twitter.com/dog_rates/status/773547596...,...,0.372202,True,Chesapeake_Bay_retriever,0.137187,True,malamute,0.071436,True,0,7126
370,817181837579653120,NaN,NaN,2017-01-06 01:31:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Here's a pupper with squeaky hi...,8.159661e+17,4.196984e+09,2017-01-02 17:00:46 +0000,https://twitter.com/dog_rates/status/815966073...,...,0.506312,True,Tibetan_terrier,0.295690,True,otterhound,0.036251,True,0,9907
374,816829038950027264,NaN,NaN,2017-01-05 02:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Betty. She's assisting ...,7.909461e+17,4.196984e+09,2016-10-25 16:00:09 +0000,https://twitter.com/dog_rates/status/790946055...,...,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True,0,5496
380,816014286006976512,NaN,NaN,2017-01-02 20:12:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Larry. He has no self c...,7.320056e+17,4.196984e+09,2016-05-16 00:31:53 +0000,https://twitter.com/dog_rates/status/732005617...,...,0.677408,True,Border_collie,0.052724,True,cocker_spaniel,0.048572,True,0,6154
390,813944609378369540,NaN,NaN,2016-12-28 03:08:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bruce. He never backs d...,7.902771e+17,4.196984e+09,2016-10-23 19:42:02 +0000,https://twitter.com/dog_rates/status/790277117...,...,0.427742,True,Great_Dane,0.190503,True,curly-coated_retriever,0.146427,True,0,3732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,794983741416415232,NaN,NaN,2016-11-05 19:24:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Rizzy. She smiles a lot...,7.895309e+17,4.196984e+09,2016-10-21 18:16:44 +0000,https://twitter.com/dog_rates/status/789530877...,...,0.363272,True,kelpie,0.197021,True,Norwegian_elkhound,0.151024,True,0,3942
504,794355576146903043,NaN,NaN,2016-11-04 01:48:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Butter. She can have wh...,7.887659e+17,4.196984e+09,2016-10-19 15:37:03 +0000,https://twitter.com/dog_rates/status/788765914...,...,0.500509,True,golden_retriever,0.272734,True,jigsaw_puzzle,0.041476,False,0,12014
509,793614319594401792,NaN,NaN,2016-11-02 00:42:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: When she says you're a good boy...,7.916723e+17,4.196984e+09,2016-10-27 16:06:04 +0000,https://twitter.com/dog_rates/status/791672322...,...,0.705092,True,Labrador_retriever,0.219721,True,kuvasz,0.015965,True,0,3661
532,791026214425268224,NaN,NaN,2016-10-25 21:18:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Alfie. He's touching a ...,7.638376e+17,4.196984e+09,2016-08-11 20:40:41 +0000,https://twitter.com/dog_rates/status/763837565...,...,0.375098,True,jean,0.069362,False,keeshond,0.050528,True,0,4858
535,790723298204217344,NaN,NaN,2016-10-25 01:14:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Happy. He's a bathtub r...,7.899865e+17,4.196984e+09,2016-10-23 00:27:05 +0000,https://twitter.com/dog_rates/status/789986466...,...,0.479477,False,bathtub,0.325106,False,golden_retriever,0.078530,True,0,2704
551,788070120937619456,NaN,NaN,2016-10-17 17:32:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo and Ty. Bo eats pape...,7.610045e+17,4.196984e+09,2016-08-04 01:03:17 +0000,https://twitter.com/dog_rates/status/761004547...,...,0.735163,True,Sussex_spaniel,0.064897,True,Labrador_retriever,0.047704,True,0,3952
563,786036967502913536,NaN,NaN,2016-10-12 02:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Scout. He really wants ...,7.798343e+17,4.196984e+09,2016-09-25 00:06:08 +0000,https://twitter.com/dog_rates/status/779834332...,...,0.993830,True,cocker_spaniel,0.003143,True,Great_Pyrenees,0.000917,True,0,8237
578,783347506784731136,NaN,NaN,2016-10-04 16:46:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Kenny. He just wants to...,6.742918e+17,4.196984e+09,2015-12-08 18:17:56 +0000,https://twitter.com/dog_rates/status/674291837...,...,0.611525,True,Pembroke,0.368566,True,Chihuahua,0.003330,True,0,6533
586,782021823840026624,NaN,NaN,2016-10-01 00:58:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Harper. She scraped her...,7.076109e+17,4.196984e+09,2016-03-09 16:56:11 +0000,https://twitter.com/dog_rates/status/707610948...,...,0.383223,True,cocker_spaniel,0.165930,True,Chesapeake_Bay_retriever,0.118199,True,0,7236
597,780496263422808064,NaN,NaN,2016-09-26 19:56:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bell. She likes holding...,7.424232e+17,4.196984e+09,2016-06-13 18:27:32 +0000,https://twitter.com/dog_rates/status/742423170...,...,0.997310,True,Brabancon_griffon,0.001186,True,French_bulldog,0.000428,True,0,4319
598,780476555013349377,NaN,NaN,2016-09-26 18:38:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Patreon: Well. @dog_rates is on Patreon. \...,7.804657e+17,1.228326e+09,2016-09-26 17:55:00 +0000,"https://www.patreon.com/WeRateDogs,https://twi...",...,0.919255,True,French_bulldog,0.032350,True,bull_mastiff,0.028468,True,0,136
610,778396591732486144,NaN,NaN,2016-09-21 00:53:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is an East African Chalupa...,7.030419e+17,4.196984e+09,2016-02-26 02:20:37 +0000,https://twitter.com/dog_rates/status/703041949...,...,0.581403,False,doormat,0.152445,False,sea_lion,0.026364,False,0,14198
617,777641927919427584,NaN,NaN,2016-09-18 22:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Arnie. He's a Nova Scot...,7.504293e+17,4.196984e+09,2016-07-05 20:41:01 +0000,https://twitter.com/dog_rates/status/750429297...,...,0.964929,True,Labrador_retriever,0.011584,True,refrigerator,0.007499,False,0,4947
620,776819012571455488,NaN,NaN,2016-09-16 16:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Everybody look at this beautifu...,6.798284e+17,4.196984e+09,2015-12-24 00:58:27 +0000,https://twitter.com/dog_rates/status/679828447...,...,0.346545,True,dalmatian,0.166246,True,toy_terrier,0.117502,True,0,15839
627,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: Like father (doggo), like son (...",7.331095e+17,4.196984e+09,2016-05-19 01:38:16 +0000,https://twitter.com/dog_rates/status/733109485...,...,0.945523,True,Labrador_retriever,0.042319,True,doormat,0.003956,False,0,17621
646,772615324260794368,NaN,NaN,2016-09-05 02:00:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Gromit. He's pupset bec...,7.652221e+17,4.196984e+09,2016-08-15 16:22:20 +0000,https://twitter.com/dog_rates/status/765222098...,...,0.556595,True,whippet,0.151047,True,American_Staffordshire_terrier,0.096435,True,0,3914
656,771171053431250945,NaN,NaN,2016-09-01 02:21:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Frankie. He's wearing b...,6.733201e+17,4.196984e+09,2015-12-06 01:56:44 +0000,https://twitter.com/dog_rates/status/673320132...,...,0.978833,True,Pomeranian,0.012763,True,Eskimo_dog,0.001853,True,0,8705
665,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is just downright precious...,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,https://twitter.com/dog_rates/status/741067306...,...,0.843799,True,Labrador_retriever,0.052956,True,kelpie,0.035711,True,0,3520
685,766078092750233600,NaN,NaN,2016-08-18 01:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Colby. He's currently r...,7.258423e+17,4.196984e+09,2016-04-29 00:21:01 +0000,https://twitter.com/dog_rates/status/725842289...,...,0.420463,True,miniature_poodle,0.132640,True,Chesapeake_Bay_retriever,0.121523,True,0,2970
704,761750502866649088,NaN,NaN,2016-08-06 02:27:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: ""Tristan do not speak to me wit...",6.853251e+17,4.196984e+09,2016-01-08 05:00:14 +0000,https://twitter.com/dog_rates/status/685325112...,...,0.586937,True,Labrador_retriever,0.398260,True,kuvasz,0.005410,True,0,4535
708,761371037149827077,NaN,NaN,2016-08-05 01:19:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Oh. My. God. 13/10 magical af h...,7.116948e+17,4.196984e+09,2016-03-20 23:23:54 +0000,https://twitter.com/dog_rates/status/711694788...,...,0.713293,False,Indian_elephant,0.172844,False,water_buffalo,0.038902,False,0,20500
723,759566828574212096,NaN,NaN,2016-07-31 01:50:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This... is a Tyrannosaurus rex....,7.395441e+17,4.196984e+09,2016-06-05 19:47:03 +0000,https://twitter.com/dog_rates/status/739544079...,...,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False,0,24319
727,759159934323924993,NaN,NaN,2016-07-29 22:53:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: AT DAWN...\nWE RIDE\n\n11/10 ht...,6.703191e+17,4.196984e+09,2015-11-27 19:11:49 +0000,https://twitter.com/dog_rates/status/670319130...,...,0.254856,True,briard,0.227716,True,soft-coated_wheaten_terrier,0.223263,True,0,1359
739,757729163776290825,NaN,NaN,2016-07-26 00:08:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Chompsky. He lives up t...,6.790626e+17,4.196984e+09,2015-12-21 22:15:18 +0000,https://twitter.com/dog_rates/status/679062614...,...,0.802333,False,schipperke,0.045519,True,German_shepherd,0.023353,True,0,9299
742,757597904299253760,NaN,NaN,2016-07-25 15:26:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @jon_hill987: @dog_rates There is a cunning...,7.575971e+17,2.804798e+08,2016-07-25 15:23:28 +0000,https://twitter.com/jon_hill987/status/7575971...,...,0.836106,False,wallet,0.056627,False,purse,0.051333,False,0,336
757,754874841593970688,NaN,NaN,2016-07-18 03:06:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Rubio. He has too much ...,6.791584e+17,4.196984e+09,2015-12-22 04:35:49 +0000,https://twitter.com/dog_rates/status/679158373...,...,0.272205,True,bull_mastiff,0.251530,True,bath_towel,0.116806,False,0,9193
775,752309394570878976,NaN,NaN,2016-07-11 01:11:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Everyone needs to watch this. 1...,6.753544e+17,4.196984e+09,2015-12-11 16:40:19 +0000,https://twitter.com/dog_rates/status/675354435...,...,0.303415,False,golden_retriever,0.181351,True,Brittany_spaniel,0.162084,True,0,18963

In [25]:
# Drop retweets
df_clean_twitter_archive.drop(df_clean_twitter_archive[df_clean_twitter_archive['retweeted_status_id'].notnull() == True ].index, inplace=True)

In [26]:
# Check result
df_clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 2072
Data columns (total 30 columns):
tweet_id                      1994 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     1994 non-null object
source                        1994 non-null object
text                          1994 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1994 non-null object
rating_numerator              1994 non-null int64
rating_denominator            1994 non-null int64
name                          1994 non-null object
doggo                         1994 non-null object
floofer                       1994 non-null object
pupper                        1994 non-null object
puppo                         1994 non-null object
jpg_url                       1994 non-null object
img_num                       1994 non-null int64
p1                            1994 non-null object
p1_conf                       1994 non-null float64
p1_dog                        1994 non-null bool
p2                            1994 non-null object
p2_conf                       1994 non-null float64
p2_dog                        1994 non-null bool
p3                            1994 non-null object
p3_conf                       1994 non-null float64
p3_dog                        1994 non-null bool
favorite_count                1994 non-null int64
retweet_count                 1994 non-null int64
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 442.0+ KB

 
 #### Wrong data type: **timestamp** and **retweeted_status_timestamp** should be datetime instead of object.

In [27]:
# Change datetype to datetime64
df_clean_twitter_archive.timestamp = pd.to_datetime(df_clean_twitter_archive.timestamp)
df_clean_twitter_archive.retweeted_status_timestamp = pd.to_datetime(df_clean_twitter_archive.retweeted_status_timestamp)

#### Wrong data type: **in_reply_to_status_id** ,**in_reply_to_user_id**, **retweeted_status_id**, and **retweeted_status_user_id** should be string instead of float64.

In [28]:
# Change datatype to int64
df_clean_twitter_archive['tweet_id'] = df_clean_twitter_archive['tweet_id'].values.astype(np.str)
df_clean_twitter_archive['in_reply_to_status_id'] = df_clean_twitter_archive['in_reply_to_status_id'].values.astype(np.str)
df_clean_twitter_archive['in_reply_to_user_id'] = df_clean_twitter_archive['in_reply_to_user_id'].values.astype(np.str)
df_clean_twitter_archive['retweeted_status_id'] = df_clean_twitter_archive['retweeted_status_id'].values.astype(np.str)
df_clean_twitter_archive['retweeted_status_user_id'] = df_clean_twitter_archive['retweeted_status_user_id'].values.astype(np.str)

# Check results
df_clean_twitter_archive.dtypes

tweet_id                              object
in_reply_to_status_id                 object
in_reply_to_user_id                   object
timestamp                     datetime64[ns]
source                                object
text                                  object
retweeted_status_id                   object
retweeted_status_user_id              object
retweeted_status_timestamp    datetime64[ns]
expanded_urls                         object
rating_numerator                       int64
rating_denominator                     int64
name                                  object
doggo                                 object
floofer                               object
pupper                                object
puppo                                 object
jpg_url                               object
img_num                                int64
p1                                    object
p1_conf                              float64
p1_dog                                  bool
p2                                    object
p2_conf                              float64
p2_dog                                  bool
p3                                    object
p3_conf                              float64
p3_dog                                  bool
favorite_count                         int64
retweet_count                          int64
dtype: object

#### Inconsistent capitalization: Some of the first letter in p1/p2/p3 are capital.

In [29]:
# Lower them all
df_clean_twitter_archive['p1'] = df_clean_twitter_archive['p1'].str.lower()
df_clean_twitter_archive['p2'] = df_clean_twitter_archive['p2'].str.lower()
df_clean_twitter_archive['p3'] = df_clean_twitter_archive['p3'].str.lower()

# Check results
print(df_clean_twitter_archive['p1'].str.isupper().value_counts(), df_clean_twitter_archive['p2'].str.isupper().value_counts(), df_clean_twitter_archive['p3'].str.isupper().value_counts())

False    1994
Name: p1, dtype: int64 False    1994
Name: p2, dtype: int64 False    1994
Name: p3, dtype: int64

#### **twitter_archive**: one variable in four columns (doggo, floofer, pupper, puppo).

In [30]:
# Melt 'doggo', 'floofer', 'pupper', 'puppo' four columns to one column 'dog_stage'
melt_columns = ['doggo', 'floofer', 'pupper', 'puppo']
keep_columns = [c for c in df_clean_twitter_archive.columns.tolist() if c not in melt_columns]
df_clean_twitter_archive = pd.melt(df_clean_twitter_archive, id_vars=keep_columns, value_vars=melt_columns, var_name='stage', value_name='dog_stage')
df_clean_twitter_archive = df_clean_twitter_archive.drop('stage', 1)

# Check results
df_clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 27 columns):
tweet_id                      7976 non-null object
in_reply_to_status_id         7976 non-null object
in_reply_to_user_id           7976 non-null object
timestamp                     7976 non-null datetime64[ns]
source                        7976 non-null object
text                          7976 non-null object
retweeted_status_id           7976 non-null object
retweeted_status_user_id      7976 non-null object
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 7976 non-null object
rating_numerator              7976 non-null int64
rating_denominator            7976 non-null int64
name                          7976 non-null object
jpg_url                       7976 non-null object
img_num                       7976 non-null int64
p1                            7976 non-null object
p1_conf                       7976 non-null float64
p1_dog                        7976 non-null bool
p2                            7976 non-null object
p2_conf                       7976 non-null float64
p2_dog                        7976 non-null bool
p3                            7976 non-null object
p3_conf                       7976 non-null float64
p3_dog                        7976 non-null bool
favorite_count                7976 non-null int64
retweet_count                 7976 non-null int64
dog_stage                     7976 non-null object
dtypes: bool(3), datetime64[ns](2), float64(3), int64(5), object(14)
memory usage: 1.5+ MB

In [31]:
# Drop duplicated rows
df_clean_twitter_archive = df_clean_twitter_archive.drop_duplicates()

In [32]:
# Check the values of 'dog_stage'
df_clean_twitter_archive.dog_stage.value_counts()

None       1994
pupper      212
doggo        74
puppo        23
floofer       8
Name: dog_stage, dtype: int64

#### Name: In name column, many entries do not look like names.

In [33]:
# Replace strange values with None

df_clean_twitter_archive['name'].replace("an",'None', inplace=True)
df_clean_twitter_archive['name'].replace("a",'None', inplace=True)
df_clean_twitter_archive['name'].replace("by",'None', inplace=True)
df_clean_twitter_archive['name'].replace("actually",'None', inplace=True)
df_clean_twitter_archive['name'].replace("old",'None', inplace=True) 
df_clean_twitter_archive['name'].replace("all",'None', inplace=True) 
df_clean_twitter_archive['name'].replace("this",'None', inplace=True) 
df_clean_twitter_archive['name'].replace("very",'None', inplace=True) 
df_clean_twitter_archive['name'].replace("not",'None', inplace=True)
df_clean_twitter_archive['name'].replace("one",'None', inplace=True)
df_clean_twitter_archive['name'].replace("my",'None', inplace=True)
df_clean_twitter_archive['name'].replace("O",'None', inplace=True)
df_clean_twitter_archive['name'].replace("quite","None", inplace=True)
df_clean_twitter_archive['name'].replace("such","None", inplace=True)
df_clean_twitter_archive['name'].replace('the', 'None', inplace=True)
df_clean_twitter_archive['name'].replace("just",'None', inplace=True)
df_clean_twitter_archive['name'].replace("getting",'None', inplace=True) 
df_clean_twitter_archive['name'].replace("infuriating",'None', inplace=True)

In [34]:
df_clean_twitter_archive['name'].value_counts()

None        774
Cooper       13
Oliver       12
Charlie      12
Lucy         11
Winston       9
Penny         9
Tucker        9
Bo            8
Sadie         8
Lola          7
Milo          7
Toby          7
Daisy         7
Bella         7
Jax           7
Stanley       6
Gus           6
Koda          6
Maggie        6
Scout         6
Finn          5
Derek         5
Chester       5
Clark         5
Winnie        5
Leo           5
Dave          5
Bailey        5
Oscar         5
           ...
Beckham       1
Jennifur      1
Biden         1
Ralph         1
Puff          1
Oshie         1
Swagger       1
Olaf          1
Juckson       1
Robin         1
Gin           1
Comet         1
Amy           1
Miley         1
Carbon        1
Lassie        1
Howie         1
General       1
Bode          1
Danny         1
Tango         1
Monty         1
Pipsy         1
Tater         1
Jay           1
Spencer       1
Lacy          1
Winifred      1
Cilantro      1
Carter        1
Name: name, Length: 919, dtype: int64

#### Rating: The numerator and denominator columns have strange values.

In [35]:
df_clean_twitter_archive['rating_denominator'].value_counts()

10     2293
50        3
11        2
80        2
7         1
170       1
150       1
130       1
120       1
110       1
90        1
70        1
40        1
20        1
2         1
Name: rating_denominator, dtype: int64

In [36]:
# Select only denominator = 10
df_clean_twitter_archive = df_clean_twitter_archive.query('rating_denominator == 10')
df_clean_twitter_archive['rating_denominator'].value_counts()

10    2293
Name: rating_denominator, dtype: int64

In [37]:
df_clean_twitter_archive['rating_numerator'].value_counts()

12      527
10      478
11      469
13      308
9       167
8       110
7        59
14       50
5        36
6        33
3        20
4        15
2         9
1         4
0         2
27        2
75        1
26        1
1776      1
420       1
Name: rating_numerator, dtype: int64

In [38]:
# Selet only numerator <= 20 and > 0 
df_clean_twitter_archive = df_clean_twitter_archive.query('rating_numerator <= 20 and rating_numerator > 0')
df_clean_twitter_archive['rating_numerator'].value_counts()

12    527
10    478
11    469
13    308
9     167
8     110
7      59
14     50
5      36
6      33
3      20
4      15
2       9
1       4
Name: rating_numerator, dtype: int64

In [39]:
df_clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2285 entries, 0 to 6795
Data columns (total 27 columns):
tweet_id                      2285 non-null object
in_reply_to_status_id         2285 non-null object
in_reply_to_user_id           2285 non-null object
timestamp                     2285 non-null datetime64[ns]
source                        2285 non-null object
text                          2285 non-null object
retweeted_status_id           2285 non-null object
retweeted_status_user_id      2285 non-null object
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2285 non-null object
rating_numerator              2285 non-null int64
rating_denominator            2285 non-null int64
name                          2285 non-null object
jpg_url                       2285 non-null object
img_num                       2285 non-null int64
p1                            2285 non-null object
p1_conf                       2285 non-null float64
p1_dog                        2285 non-null bool
p2                            2285 non-null object
p2_conf                       2285 non-null float64
p2_dog                        2285 non-null bool
p3                            2285 non-null object
p3_conf                       2285 non-null float64
p3_dog                        2285 non-null bool
favorite_count                2285 non-null int64
retweet_count                 2285 non-null int64
dog_stage                     2285 non-null object
dtypes: bool(3), datetime64[ns](2), float64(3), int64(5), object(14)
memory usage: 453.0+ KB

#### Remove columns which are not required for the analysis and store the dataframe to twitter_archive_master.csv

In [40]:
df_clean_twitter_archive.to_csv('twitter_archive_master.csv')

## Analyze data

In [41]:
df = pd.read_csv('twitter_archive_master.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 28 columns):
Unnamed: 0                    2285 non-null int64
tweet_id                      2285 non-null int64
in_reply_to_status_id         25 non-null float64
in_reply_to_user_id           25 non-null float64
timestamp                     2285 non-null object
source                        2285 non-null object
text                          2285 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null float64
expanded_urls                 2285 non-null object
rating_numerator              2285 non-null int64
rating_denominator            2285 non-null int64
name                          2285 non-null object
jpg_url                       2285 non-null object
img_num                       2285 non-null int64
p1                            2285 non-null object
p1_conf                       2285 non-null float64
p1_dog                        2285 non-null bool
p2                            2285 non-null object
p2_conf                       2285 non-null float64
p2_dog                        2285 non-null bool
p3                            2285 non-null object
p3_conf                       2285 non-null float64
p3_dog                        2285 non-null bool
favorite_count                2285 non-null int64
retweet_count                 2285 non-null int64
dog_stage                     2285 non-null object
dtypes: bool(3), float64(8), int64(7), object(10)
memory usage: 453.1+ KB